.News {
  width: 90%;
  margin: 2em auto;
}

.News img {
  border-radius: 7px;
}

.custom_legend {
  font-weight: 900;
  transition: all 0.5s ease-in-out;
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -45%;
  width: 90%;
  border-radius: 5px;
  background: #eee;
  color: black;
  padding: 10px;
  font-size: 12px;
  text-align: center;
  opacity: 0.9;
  transition: opacity 0.35s ease-in-out;
  text-decoration: none;
}
